<p-menubar [model]="items" [style]="{'padding':'3px'}">
    <ng-template pTemplate="start">
        <!-- <img src="assets/CoderBlog.svg" height="40" class="p-mr-2">
       <strong>Cb Coder Blog</strong> -->
    </ng-template>
    <ng-template pTemplate="end">
        <button #btn type="button" *ngIf="!(aktifKullanici | async)" pButton icon="pi pi-fw pi-user" label="Giriş" (click)="Login()"></button>
        <button #btn type="button" *ngIf="(aktifKullanici | async)"  pButton icon="pi pi-fw pi-user" [label]="kullanici.kullaniciAdi" (click)="menu.toggle($event)"></button>
    </ng-template>
  </p-menubar>
  <p-tieredMenu #menu [model]="profilItems" [popup]="true"></p-tieredMenu>
