
<div class="p-grid" style="margin-top: 20px;">
    <div class="p-col p-md-2 p-sm-12">
        <div class="box"></div>
    </div>
    <div class="p-col-12 p-md-8 p-sm-12">
        <div class="box">
            <p-card [header]="yazi.yaziBaslik">
                {{yazi.yaziIcerik}}
                <ng-template pTemplate="footer">
                  {{yazi.yaziTarih | date}}
                </ng-template>
            </p-card>
           
        </div>
    </div>
    <div class="p-col-12 p-md-2 p-sm-12">
        <div class="box"></div>
    </div>
</div>
