<br>
<div class="p-grid">
    <div class="p-col-12 p-lg-3 p-md-4  p-sm-6" *ngFor="let yazi of yaziList">
        <p-card header="{{yazi.yaziBaslik}}" [style]="{'width': '100%'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card"  *ngIf="yazi.yaziKapakResim!=null" src="assets/yaziKapakResim/{{yazi.yaziKapakResim}}" height="auto" width="100%">
            </ng-template>
            <!-- {{yazi.yaziIcerik}} -->
            <ng-template pTemplate="footer">
                <p-button label="Düzenle" (click)="DuzenleModal(yazi.id,yazi.kategoriId)" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>
    </div>
</div>

<p-dialog header="Header" [(visible)]="modalDurumu" [modal]="true" [style]="{width: '90vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="p-fluid p-formgrid">
        <div class="p-field">
            <p-dropdown [options]="kategoriList" [(ngModel)]="kategori" optionLabel="adi" placeholder="Kategori">
            </p-dropdown>
        </div>
        <div class="p-field">
            <input type="text" id="txtbaslik" placeholder="Başlık" pInputText [(ngModel)]="yazi.yaziBaslik">
        </div>
        <div class="p-field">
            <div class="p-grid">
                <div class="p-col-12 p-md-12">
                    Kapak Resminiz:
                    <img *ngIf="resim.length>0" src="{{resim}}" style="width: 30%;height: auto;" />
                    <img *ngIf="resim.length<=0" src="assets/yaziKapakResim/{{yazi.yaziKapakResim}}" style="width: 30%;height: auto;" />
                </div>
            </div>
        </div>
        <div class="p-field">
            <div class="p-grid">
                <div class="p-col-12 p-md-12">
                    Değiştirmek için resmi seçiniz : <input pInputText type="file" #file placeholder="Yazi için bir resim seçiniz" 
                        (change)="ResimGor($event)">
                </div>
            </div>
        </div>
      
        <div class="p-field">
            <p-editor [(ngModel)]="yazi.yaziIcerik" [style]="{'height':'320px'}"></p-editor>
        </div>
        
        <div class="p-field">
            <p-button label="Kaydet" (click)="YaziDuzenle()" [style]="{'width': '120px'}"></p-button>
        </div>
    </div>


    <ng-template pTemplate="footer">
        <p-button icon="pi pi-close" (click)="modalDurumu=false" label="Kapat" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
