<div class="p-grid" style="margin-top: 50px;">
  <div class="p-md-2 p-sm-12">
    <div class="box"></div>
  </div>
  <div class="p-md-8 p-sm-12">
    <div class="box">
      <p-card header="Profil Bilgileri - {{kullanici.kullaniciAdi}}">
        <div class="p-fluid p-formgrid">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" id="txtAd" class="p-inputtext-sm" pInputText [(ngModel)]="kullanici.ad">
              <label for="txtAd">Ad</label>
            </span>
          </div>
          <br>
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" id="txtSoyad" class="p-inputtext-sm" pInputText [(ngModel)]="kullanici.soyad">
              <label for="txtSoyad">Soyad</label>
            </span>
          </div>
          <br>
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" id="txtEposta" class="p-inputtext-sm" readonly pInputText [(ngModel)]="kullanici.eposta">
              <label for="txtEposta">E posta</label>
            </span>
          </div>
          <br>
          <div class="p-field">
            <label for="txtFile">Profil Resmi(değiştirmek için aşağıdan dosya seç ile yapılabilir)</label>
            <br>
            <img *ngIf="resim.length>0" src="{{resim}}" style="width: 30%;height: auto;" />
            <img *ngIf="resim.length<=0" src="https://api.yilmazcoder.online/resources/profilResmi/{{kullanici.resim}}" style="width: 30%;height: auto;" />
            <br>
            <input type="file" (change)="FileChangeEvent($event)" #fileuploader />

              <image-cropper style="width: 512px;height: auto;" [imageChangedEvent]="imageChangedEvent"
              [aspectRatio]="4 / 4" [resizeToWidth]="256" [roundCropper]="true"
              [style.display]="showCropper ? null : 'none'" format="png" (imageCropped)="ImageCropped($event)"
              (imageLoaded)="ImageLoaded()"></image-cropper>
          </div>
          <div class="p-field">
            <p-button label="Kaydet" (click)="Kaydet()" [style]="{'width': '120px'}"></p-button>
          </div>
        </div>
      </p-card>
    </div>
  </div>
  <div class="p-md-2 p-sm-12">
    <div class="box"></div>
  </div>
</div>
<p-toast></p-toast>
