
:host ::ng-deep .p-chip.custom-chip {
  background: rgba(238, 238, 238, 0);
  font-weight: bold;
}


:host ::ng-deep .p-divider-content.costum-divider {
  background: rgba(238, 238, 238, 0);
  font-weight: bold;
}
