<br>
<div class="p-grid">
    <div class="p-col-12 p-sm-12 p-lg-9 p-md-12 ">
        <p-card header="Yeni Yazılar" >
            <div class="p-grid">
                <div class="p-col-12 p-lg-3 p-md-4  p-sm-6" *ngFor="let yazi of yaziListYeniler">
                    <p-card header="{{yazi.yaziBaslik}}" [style]="{'width': '100%'}" styleClass="p-card-shadow p-shadow-3">
                        <ng-template pTemplate="header">
                            <!-- <img alt="Card" src="assets/primeng.svg" height="125" width="125"> -->
                        </ng-template>
                        {{yazi.yaziIcerik}}
                        <ng-template pTemplate="footer">
                            {{yazi.kullaniciId}}
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </p-card>
    </div>
    <div class="p-col-12 p-sm-12 p-lg-3 p-md-12 ">
        <div class="p-grid">
            <div class="p-col-6 p-sm-6 p-lg-12 p-md-12 ">
                <p-card header="Öneri Hesaplar" ></p-card>
            </div>
            <div class="p-col-6 p-sm-6 p-lg-12 p-md-12 ">
                <p-card header="Kategori" ></p-card>
            </div>
        </div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12 p-sm-12 p-lg-12 p-md-12 ">
        <p-card header="Trend Olanlar" >
            <div class="p-grid">
                <div class=" p-lg-3 p-md-4  p-sm-6" *ngFor="let yazi of yaziListTrend">
                    <p-card header="{{yazi.yaziBaslik}}" [style]="{'width': '100%'}" styleClass="p-card-shadow p-shadow-3">
                        <ng-template pTemplate="header">
                            <!-- <img alt="Card" src="assets/primeng.svg" height="125" width="125"> -->
                        </ng-template>
                        {{yazi.yaziIcerik}}
                        <ng-template pTemplate="footer">
                            {{yazi.kullaniciId}}
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </p-card>
    </div>

</div>